---
import { SEO } from "astro-seo";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Slider from "../components/Slider.astro";

// getCollection
const blogPosts = await getCollection("blog");
// console.log(blogPosts);
---

<MainLayout title="Home">
	<SEO
		slot='seo'
		title="Astro News Portal - Your Source for Daily Updates"
		description="Welcome to Astro News Portal - Your go-to destination for the latest updates on technology, programming, lifestyle, and valuable tips to enhance your career and life. Stay informed with our accurate and up-to-date information!"
		twitter={{
			creator: "@rendrazuriansyah",
			card: "summary_large_image"
		}}
		openGraph={{
			basic: {
				type: "website",
				title: "Astro News Portal - Your Source for Daily Updates",
				image: "/thumbnailSEO.jpg",
			},
			image: {
				alt: 'Thumbnail'
			}
		}}
	/>

	<div style="margin-top: 56px">
		<Slider posts={blogPosts.filter((post) => post.data.isPinned)} />
	</div>

	<main class="container mt-content">
		<div class="row row-cols-1 row-cols-md-3 g-4">
		{
			blogPosts.map((post) => (
				<div class="col">
					{/* <a href={`/blog/${post.slug}`}>{post.data.title}</a> */}
					<Card post={post} />
				</div>
			))
		}
		</div>
	</main>
</MainLayout>